/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: azure;
}

.container{
    max-width: 1500px;
    width: 60%;
    margin: 0 auto;
    height: 100%;
     /* debug */
     /* border: 1px solid black; */
}

a{
    text-decoration: none;
}

.btn-white{
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 5px 12px;

}



/* Header Rules */
header {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 75px;
    z-index: 100;
    /* /* DEBUG  */
    background-color: #0985fa;


}

header > .container{
    height: 100%;
}

nav{
    height: 100%;
}

nav > ul {
    height: 100%;
    display: flex;
    font-weight: 280;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
}
nav > ul > div {
    display: none;
    color: white;
    font-size: 25px;
}

nav > ul > ul{
    height: 100%;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    list-style: none;
}

nav > ul > a > img{
    width: 75%;
}

nav a{
    color: white;
}

/* Main Rules */
main {
    padding-top: 75px;
    /* debug */
    /* background-color: crimson; */
}

 /* First section */
.first {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 25px;
    /* debug */
    /* background-color: coral ; */
    /* min-height: 600px; */
}
 
.first > .card {
    width: calc(100% / 3 - 15px);
    height: 260px;
    border-radius: 12px;
    padding: 20px 10px 0px;
    text-align: center;
    background-color: #b8d8f5;
    /* DEBUG */
    /* background-color: rgb(58, 226, 43); */
    /* border: 3px solid black; */
}

.first > .double.card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
    padding: 0 18px;
    align-items: flex-end;
    min-height: 260px;
    width: calc( (100% / 3) * 2 - 15px);
}

.first .double.card  a{
    display: inline-block;
    color: white;
    font-weight: 500;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 10px;
    padding: 7px 50px;
    border-radius: 18px;
    background-color: #0a82f1;
}

.first p{
    color: #536675;
    font-weight: 700;
    font-size: 12px;
    line-height: 180%;
    margin-bottom: 25px;
}

.first  h4{
    color: #007bfb;
    margin: 18px 0;
}

.first .image  img{
    width: 170px;
}

.first .image{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.first .double.card .text{
    width: 45%;
    align-self: flex-start
}

.first .icon  i{
    color: #0483fa;
    font-size: 65px;
}

.second {
    background-color: #9994df;
    margin-top: 90px;
    min-height: 500px;
}

.second > .container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    gap: 8px;
}

.second .text{
    width: 50%;
    padding: 0 30px;
    line-height: 140%;
    margin: 100px 0 50px;
    /* DEBUG*/
    /* background-color: rgb(243, 166, 138); */
}

.second h2{
    color: white;
    margin: 65px 0 35px;
}

.second h3{
    font-size: 17px;
    font-style: normal;
    margin: 10px 0;
}

.second .text p{
    min-height: 50%;
    background-color: white;
    text-align: center;
    font-size: 10px; 
    color: white;
    padding: 20px 30px;
    border-radius: 40px;
    align-self: flex-end;
    margin-bottom: 50px;
    font-style: italic;
}

.second .text img{
    width: 85%;
}
.second.image{
    width: 45%;
    min-height: 45%;
    text-align: center;
    padding: 16px 20px;
    border-radius: 35px;
    align-self: flex-end;
    margin-bottom: 45px;
    background-color: white;
    /* DEBUG */
    /* background-color: yellow; */
}

.second .image p{
    font-weight: lighter;
    font-size: 12px;
    margin: 8px 0;
    line-height: 180%;
}

.second .image img{
    width: 80%;
}

.second .image a{
    font-size: 14px;
    border-radius: 100%;
    display: inline-block;
    margin: 15px 0 10px;
}

/* Third section   */

.third{
    /* background-color: orange; */
    margin-top: 65px;
    /* DEBUG */
    height: 890px;
}
.third > .text{
    width: 100%;
    height: 20%;
    min-height: 180px;
    text-align: center;
    /* DEBUG */
    /* background-color: red; */
    /* width: 100%; */
    /* height: 18%; */
}
.third h5{
    font-weight: 300;
}

.third h2{
    color: #9792e4;
    font-size: 35px;
    margin: 10px 0 20px;
}

.third p{
    font-weight: 300;
    font-size: 15px;
}

.third > .citation{
    width: 100%;
    min-height: 700px
}
.citation > .card{
    width: 100%;
    margin: 30px 0;
    background-color: #8f89da;
    min-height: 190px;
    border-radius: 25px;
    padding: 18px 0;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.citation .circle-image{
    width: 150px;
    height: 160px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.citation .image{
    width: 180px;
    margin-left: 18px;
}

.circle-image.one{
    background-image: url("../img/testimonial1.jpg");
}

.circle-image.two{
    background-image: url("../img/testimonial2.jpg");
}

.circle-image.three{
    background-image: url("../img/testimonial3.jpg");
}

.citation .words{
    width: 80%;
    padding: 0 38px;
}

.citation .comment{
    font-size: 12px;
    line-height: 200%;
}

.citation .comment i{
    font-size: 18px;
}

.citation .name{
    font-weight: 690;
    font-size: 15px;
    margin-top: 12px;
}

/* Fourth section  */

.fourth{
    background-color: #9792e4;
    margin-top: 28px;
    /* DEBUG */
    min-height: 1000px;
}

.fourth .row{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 25px;
}

.fourth .text{
    background-color: cyan;
    height: 200px;
    width: 100%;
}

.fourth .card{
    height: 500px;
    width: calc(100% / 3 - 20px);
    color: #a39fe0;
    background-color: white;
    border-radius: 18px;
    padding: 18px 36px 27px;
    font-size: 16px;
}

.fourth p{
    color: gray;
    font-size: 10px;
    line-height: 170%;
    margin: 18px 0;
}

.fourth a{
    background-color: #9b96dd;
    color: white;
    padding: 7px 36px;
    border-radius: 18px;
    font-size: 10px;
    font-weight: 580;
}

.fourth .big-num{
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 8px;
}

.fourth h2{
    font-size: 35px;
    color: white;
    text-align: center;
    padding: 50px 0;
}

/* Fifth section */

.fifth{
    min-height: 550px;
    width: 65%;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    /* DEBUG */
    /* height: 800px; */
}

.fifth > .text{
    padding-right: 20px;
    flex-basis: 55%;
    font-weight: 600;
    /* DEBUG */
    /* background-color: chocolate; */
}

.fifth .text p{
    font-size: 12px;
    line-height: 240%;
    font-weight: lighter;
}

.fifth.text #text-fifth{
    margin: 30px 0;
}

.fifth > .image{
    flex-basis: 35%;
    padding-left: 35px;
}

.fifth .circle-image{
    height: 190px;
    width: 190px;
    border-radius: 45%;
    position: relative;
    background-image: url("../img/about.jpg");
    background-position: center;
    background-size: cover;
}


.fifth .image a{
    border-radius: 18px;
    font-size: 10px;
    font-weight: 300;
    background-color: #9792e4;
    color: white;
    padding: 5px 15px;
}

.fifth .image .text{
    color: #8c87d1;
    font-weight: bold;
    font-size: 18px;
    margin: 18px 0;
}

.fifth .circle-image > i{
    position: absolute;
    top: 0px;
    right: 0px;
    color: #8680d3;
    font-size: 58px;
}

.fifth> .text h2{
    font-size: 38px;
}
.fifth > .text{
    padding: 0 8px;
    margin-bottom: 18px;
}
.fifth .image{
    padding: 0 10px;
}
.fifth > .image .circle-image{
    width: 180px;
    height: 180px;
}

/* Sixth section */

.sixth{
    background-color: #9792e4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 50px 0;
    min-height: 350px;
    text-align: center;
    color: white;
    /* DEBUG */
    /* height: 500px; */
}

.sixth > .container{
    width: 60%;
}

.sixth .bottom{
    width: 45%;
    margin: 0 auto;
}


.sixth p{
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
    line-height: 170%;
}

.sixth .bottom > a{
    background-color: white;
    color: #9792e4;
    padding: 20px 70px;
    border-radius: 50px;
    font-weight: bold;
    display: inline-block;
    margin: 20px 0;
}

.sixth.copyright{
    font-size: 12px;
}

.sixth span{
    font-size: 25px;
    font-weight: bold;
    vertical-align: sub;
}

.sixth .copyright a{
    color: white;
    text-decoration: underline;
}

.sixth h2{
    font-size: 67px;
    color: #fdc15f;
    margin: 10px 0;
}

.sixth h5{
    font-weight: lighter;
    font-size: 16px;
    color: lightgray;
    margin-bottom: 10px;
}

.sixth h3{
    font-size: 35px;
}


/* Footer Rules */
footer{
    height: 170px;
    background-color: #272626;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > .container{
    width: 28%;
    height: 75%;
    max-width: 1400px;
    
    /* DEBUG */
    background-color: rgb(124, 0, 0);
}
/* Tablet Version */
@media screen and (max-width: 850px){
    .container{
        width: 90%;
    }

    nav > ul > ul{
        display: none;
    }
    nav > ul > div{
        display: inline-block;
    }

    .first .double.card .text{
        width: 100%;
        height: 30%;
    }
    .first .image{
        width: 100%;
        height: 70%;
        justify-content: flex-start;
    }

    .second > .container{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }

    .second .text{
        padding: 0;
    }
    .second .text p{
        line-height: 150%;
        margin-bottom: 20px;
        font-size: 15px;
    }


    .second > .container > *{
        width: 100%;
        height: 50%;
    }
    
    .third .citation .image .circle-image{
        width: 150px;
        height: 150px;
    }
    .third .citation .words{
        padding: 0 20px;
    }

    .fourth .card{
        width: 47%;
    }

    .fifth > .text{
        padding-right: 48px;
        font-weight: 600;
        flex-basis: 55%;
    }
    .fifth > .image{
        padding-left: 45px;
        flex-basis: 40%;
    }

    .fifth > .text p{
        font-size: 14px;
    }
    .fifth > .text h2{
        font-size: 56px;
    }

    .fifth > .image .text{
        font-size: 25px;
    }
    .fifth > .image .circle-image{
        width: 220px;
        height: 220px;
    }
    .fifth > .image a{
        font-size: 14px;
    }

    .sixth > .container{
        width: 80%;
    }

    footer > .container{
        width: 60%;
    }
}

/* smartphone version */
@media screen and (max-width: 480px){
    .first > .card{
        width: 100%;
    }

    .first > .double.card{
        padding-top: 68px;
        width: 100%;
    }

    .first .double.card .image{
        display: flex;
        justify-content: center;
    }
    .first .double.card .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .first .double.card h4{
        font-size: 20px;
        font-weight: 700;
    }

    .second .text h2{
        font-size: 28px;
    }

    .third .card .image{
        height: 160px;
        width: 160px;
        margin: 0 0 20px;
    }
    .third .card{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .third .citation .words{
        padding: 0px 0px;
    }

    .fourth .card p{
        font-size: 12px;
    }
    .fourth .card{
        width: 100%;
        padding: 20px 30px 30px;
    }

    .fifth{
        flex-direction: column;
    }
    .fifth > .text, .fifth > .image{
        flex-basis: 100%;
    }

    .sixth > .container{
        width: 85%;
    }

    footer > .container{
        width: 85%;
    }
}
