/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 70%;
    margin: 0 auto;
    height: 100%;
     /* debug */
     border: 1px solid black;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: azure;
}


/* Header Rules */
header {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 75px;
    z-index: 100;
    /* /* DEBUG  */
    background-color: #0985fa;

}
nav{
    height: 100%;
}

nav > ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul > ul{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    list-style: none;
}

/* Main Rules */
main {
    padding-top: 65px;
    /* debug */
    background-color: crimson;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 40px;
    /* debug */
    background-color: coral ;
    min-height: 600px;
}
 
.cards > .card {
    width: calc(100% / 3 - 10px);
    min-height: 240px;
    /* DEBUG */
    background-color: rgb(58, 226, 43);
    border: 3px solid black;
}

.cards > .double.card {
    width: calc( (100% / 3) * 2 - 10px);
}

.second {
    background-color: #9994df;
    margin-top: 90px;
    /* DEBUG */
    height: 700px;
}
